<div class="<%= class_names("card", { "multiple": (card.cards.any? && params[:id].to_i != card.id) }) %>"
     id="<%= dom_id card %>"
     draggable="true"
     data-controller="card"
     data-card-id-value="<%= card.id %>"
     data-action="<%= card_actions(card) %>">
  <h1><%= link_to card.title, card %></h1>

  <div class="card-content">
    <%= simple_format card.body %>
  </div>
</div>

