<p style="color: green"><%= notice %></p>

<%= render @card %>

<div>
  <%= link_to "Edit this card", edit_card_path(@card) %> |
  <% if @card.card_id %>
    <%= link_to "Back to parent card", @card.card %> |
  <% end %>
  <%= link_to "Back to cards", cards_path %>

  <%= button_to "Destroy this card", @card, method: :delete %>
</div>

<% if params[:id] == @card.id.to_s && @card.cards.any? %>
  <div class="cards">
    <%= render @card.cards %>
  </div>
<% end %>
